.App {
  text-align: center;
  background-color: black;
}
#navbar li:not(a.active) :hover {
  filter: brightness(130%);
}

a {
  text-decoration: none;
}
a.active {
  background-color: #55f472 !important;
  color: black !important;
  width: 180px;
  font-weight: 400 !important;
}

#navbar li a {
  color: rgb(206, 201, 201);
  font-weight: 200;
  transition: background-color 0.8s ease;
}

/* background-color: #7c0c9590 !important;*/
